<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="style.css">
    <style>
        #about{
            background-color: aquamarine;
        }
    </style>
</head>
<body>
<div class="header">
    <ul class="menu">
        <li><a href="/" title="Главная страница">Главная</a></li>
        <li id="about"><a href="/about" title="Информация о Компьютерной Академии">О нас</a></li>
        <li><a href="/projects" title="Проекты, выполненные учениками Академии">Наши проекты</a></li>
    </ul>
</div>
    <div class="header2">
        <h1><i>Информация о нас<i></h1>
    </div>
  <div class="info">
      <h3>Компьтерная Академия "ШАГ"</h3>
  </div>
<div>
    <img src="foto1.webp" alt="Фото1" width="500" height="500">
</div>

</body>
</html>