<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <style>
        #projects{
            background-color: aquamarine;
        }
    </style>
    <title>Projects</title>
</head>
<body>
<div class="header">
    <ul class="menu">
        <li><a href="/" title="Главная страница">Главная</a></li>
        <li><a href="/about" title="Информация о Компьютерной Академии">О нас</a></li>
        <li id="projects"><a href="/projects" title="Проекты, выполненные учениками Академии">Наши проекты</a></li>
    </ul>
</div >
<div class="info">
  <h1><i>Информация о проектах<i></h1>
</div>
</body>

<div>
    <span><img src="foto3.webp" alt="Фото3" width="600" height="500"></span>
</div>

</html>